@font-face {
    font-family: 'Karla Local';
    src: url('Karla-Light.woff2') format('woff2'),
        url('Karla-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karla Local';
    src: url('Karla-Regular.woff2') format('woff2'),
        url('Karla-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karla Local';
    src: url('Karla-SemiBold.woff2') format('woff2'),
        url('Karla-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karla Local';
    src: url('Karla-Medium.woff2') format('woff2'),
        url('Karla-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karla Local';
    src: url('Karla-Bold.woff2') format('woff2'),
        url('Karla-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

