@font-face {
  font-family: 'cmsmasters-demo-icons';
  src:  url('fonts/cmsmasters-demo-icons.eot?rddht4');
  src:  url('fonts/cmsmasters-demo-icons.eot?rddht4#iefix') format('embedded-opentype'),
    url('fonts/cmsmasters-demo-icons.ttf?rddht4') format('truetype'),
    url('fonts/cmsmasters-demo-icons.woff?rddht4') format('woff'),
    url('fonts/cmsmasters-demo-icons.svg?rddht4#cmsmasters-demo-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="cms-demo-icon-"], [class*=" cms-demo-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cmsmasters-demo-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cms-demo-icon-icon-1:before {
  content: "\e902";
}
.cms-demo-icon-icon-2:before {
  content: "\e903";
}
.cms-demo-icon-icon-3:before {
  content: "\e904";
}
.cms-demo-icon-arrow-diagonal:before {
  content: "\e905";
}
.cms-demo-icon-arrow-left:before {
  content: "\e906";
}
.cms-demo-icon-arrow-right:before {
  content: "\e907";
}
.cms-demo-icon-calendar:before {
  content: "\e908";
}
.cms-demo-icon-check:before {
  content: "\e909";
}
.cms-demo-icon-circle:before {
  content: "\e90b";
}
.cms-demo-icon-clock:before {
  content: "\e90c";
}
.cms-demo-icon-menu:before {
  content: "\e90d";
}
.cms-demo-icon-minus:before {
  content: "\e90e";
}
.cms-demo-icon-plus:before {
  content: "\e90f";
}
.cms-demo-icon-search:before {
  content: "\e910";
}
.cms-demo-icon-star:before {
  content: "\e911";
}
.cms-demo-icon-chevron-down:before {
  content: "\e900";
}
.cms-demo-icon-chevron-up:before {
  content: "\e901";
}
.cms-demo-icon-close:before {
  content: "\e90a";
}
